/* style.css
 *
 * SPDX-FileCopyrightText: 2022 Alexander Murphy <supernova@alexmurphy.uk>
 *
 * SPDX-License-Identifier: CC0-1.0 OR MIT
 *
 * */

html {
  box-sizing: border-box;
  font-size: 16px;
}

* {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
}
